<h1>Pick a beer to review:</h1>


<div ng-app="app">
  <div ng-controller="beersCtrl" ng-init="setup()">

    Number of beers per page: {{ beerCount }} <br><br>
    <!-- Filter by keyword: <input ng-model="beerFilter"> <br><br> -->
    Search: <input ng-model="keyword" ng-keyup="$event.keyCode == 13 && apiSearch(keyword)"> <br>
    <button ng-click="apiSearch(keyword)">Search</button><br><br>

   <!--  This is how you call a single beer by id:
    Search api id: <input ng-model="apiBeerId" ng-keyup="$event.keyCode == 13 && findByApiId(apiBeerId)"> <br>
    <button ng-click="findByApiId(apiBeerId)">Search api id</button><br><br>
    <p>{{ beerReviewed }}</p> -->

    <div class="container">
      <div ng-repeat="beer in beers | filter: beerFilter">
        <p data-toggle="modal" data-target="#beer{{$index}}" ng-click="getReviews(beer.api_beer_id)">{{ beer.name }} - {{ beer.style.category.name }} <br> {{ beer.brewery }}</p>
        <div class="modal fade" id="beer{{$index}}" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ beer.name }} - {{ beer.style.category.name }}</h4>
                <p>{{ beer.brewery }}</p>
              </div>
              <div class="modal-body">
                <p>ABV: {{ beer.abv }} <br>
                IBU: {{ beer.ibu }} <br>
                Glass: {{ beer.glass.name }} <br>
                <!-- Organic: {{ beer.isOrganic }}</p> -->

                <p> {{ beer.description }} </p>
              </div>

              <div class="modal-body">
              <%= form_tag "/reviews/", method: :post do  %>
                <div>Rating: 
                <select name="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                </div>
                <div>
                <input type="hidden" name="api_beer_id" value="{{ beer.id }}">
                  <%= label_tag :review %>
                  <%= text_area_tag :review %>
                </div>
                <!-- <div>
                  <%= label_tag :personal %>
                  <%= check_box_tag :personal, true, "personal" %>
                </div> -->

                <%= submit_tag "Submit" %> <br><br>
<!--                 <button type="button" class="btn btn-default" ></button>
 -->
                <% end %>
            

              Previous Reviews:
                  <div ng-repeat="review in reviews">
                  Rating: {{review.rating}} <br>
                  Review: {{review.review}} <br><br>
                  </div>
              </div>



              <div class="modal-footer">
              
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>