<h1>Edit Review:</h1>

<%= form_tag "/reviews/#{@review.id}/", method: :patch do  %>

  <div>
    <%= label_tag :rating %>
    <%= number_field_tag :rating, @review.rating %>
  </div>
  <div>
    <%= label_tag :review %>
    <%= text_field_tag :review, @review.review %>
  </div>
  <div>
    <%= label_tag :personal %>
    <%= check_box_tag :personal, true, "personal" %>
  </div>
  
  <%= submit_tag "Submit" %>
<% end %>