<h1>Booze Review</h1>

Filter: <input ng-model="nameFilter" list="names">

<div ng-app="app">
  <div ng-controller="reviewsCtrl" ng-init="setup()">
    <div ng-repeat="beer in beers">
      <p>{{ beer.name }}</p>
    </div>
  </div>
</div>
 <!-- 
<% @reviews.each_slice(3) do |three_reviews| %>
  <div class="row">
    <% three_reviews.each do |review| %>
      <div class="col-md-4">
        <div class="well">
          <p><a href="/reviews/<%= review.id %>"><%= review.beer_name %></a> ABV: <%= review.abv %> Rating: <%= review.rating %>   <br> <%= review.beer_type %></p>
          <p><%= review.brewer_name %></p>
          <p><%= review.review %></p>
          <p>- Reviewed by: <%= review.user.user_name %></p>
          <% if current_user && review.user_id == current_user.id %>
          <a href="/reviews/<%= review.id %>/edit/"><button id ="btn-primary">Edit</button></a>
          <% end %>
          
          <br>
          <br>
        </div>
      </div>
    <% end %>
  </div>

  

    <% @beers['data'].each do |beer| %>
    <% brewery = beer['breweries'] %>
      <div>
        <p><%= beer['name'] %> </p>
        <p><%= beer['breweries'][0]['name'] %> </p>
        <% end %>
        
        <br>
        <br>
      </div>
    
  
<% end %> --> 

