<h1>Booze Review</h1>


<div ng-app="app">
  {{ 1 + 1 }}
</div>

<% @reviews.each_slice(3) do |three_reviews| %>
  <div class="row">
    <% three_reviews.each do |review| %>
      <div class="col-md-4">
        <div class="well">
          <p><a href="/reviews/<%= review.id %>"><%= review.beer_name %></a> ABV: <%= review.abv %> Rating: <%= review.rating %>   <br> <%= review.beer_type %></p>
          <p><%= review.brewer_name %></p>
          <p><%= review.review %></p>
          <p>- Reviewed by: <%= review.user.user_name %></p>
          <% if current_user && review.user_id == current_user.id %>
          <a href="/reviews/<%= review.id %>/edit/"><button id ="btn-primary">Edit</button></a>
          <% end %>
          
          <br>
          <br>
        </div>
      </div>
    <% end %>
  </div>

  Filter: <input ng-model="nameFilter" list="names">

    <% @beers['data'].each do |beer| %>
    <% brewery = beer['breweries'] %>
      <div>
        <p><%= beer['name'] %> </p>
        <p><%= brewery[0]['name'] %> </p>
        <% end %>
        
        <br>
        <br>
      </div>
    
  
<% end %>

