<h1>All Reviews:</h1>

<div ng-app="app">
  <div ng-controller="reviewsCtrl">
    <% @reviews.each do |review| %>
      <% beer = review.beer %>
      Beer: <%= beer['name'] %> - Rating: <%= review.rating %><br>
      Abv: <%= beer['abv'] %> <br>
      Ibu: <%= beer['ibu'] %> <br>
      Review: <%= review.review %> <br> <br> <br>
    <% end %>
  </div>
</div>
  